# Byte-compiled / Python caches
__pycache__/
*.py[cod]
*$py.class

# PyInstaller & Build artifacts
build/
AppDir/
*.spec

# Virtual Environments
.venv/
venv/
build_env/
.build_venv
dist/
.dist|
.tools

# Binary tools & generated AppImages
*.AppImage
*.7z
*.zip
*.tar.gz

#Media images
*.iso
*.chd
*.cue
*.bin
*.gdi
*.ccd
*.mpeg
*.7zip
*.7z



